---
// Recibe las propiedades de cada producto
interface CardProps {
  title: string;
  subtitle: string;
  description: string;
  imageSrc: string;
  logoSrc: string;
  link: string;
}

const { title, subtitle, description, imageSrc, logoSrc, link } = Astro.props;
---

<div class="section-background">
  
		
  <div>
    <!-- Título y Subtítulo -->
  <div class="card-container">
    <!-- Imagen Principal -->
    <img src={imageSrc} alt={`${title} image`} class="main-image" />

  <!-- Contenido de la Tarjeta -->
  <div class="content">
    <!-- Subtítulo y Logo agrupados -->
    <div class="header">
      <h2 class="title">{title} <strong>{subtitle}</strong></h2>
      <img src={logoSrc} alt={`${title} logo`} class="logo" />
    </div>
    <p class="description">{description}</p>

    <!-- Botón Ver Más -->
    <a href={link} class="button">Ver Más</a>
  </div>
  </div>
</div>

<style lang="postcss">
  
  /* Sección principal */
.section-background {
  @apply flex justify-center items-center;
  background-color: #3E3C3E;
  padding: 2rem 0;
}

/* Contenedor de tarjeta */
.card-container {
  @apply flex flex-col w-full max-w-full md:flex-1 bg-white shadow-md rounded-lg overflow-hidden min-h-[400px] transition-all duration-300 ease-in-out transform;
}
.card-container:hover {
  @apply scale-105; /* Efecto al pasar el mouse */
}

/* Imagen Principal */
.main-image {
  @apply w-full h-auto object-contain;
}

/* Contenido de la Tarjeta */
.content {
  @apply p-4 flex flex-col justify-between items-center text-center h-full;
}

/* Encabezado: Subtítulo y Logo */
.header {
  @apply flex flex-col items-center gap-2 mb-4;
}
.title {
  @apply text-lg font-semibold text-gray-800;
}
.subtitle {
  @apply text-base font-medium text-gray-600;
}
.logo {
  @apply w-64 h-auto mt-2; /* Duplicado el tamaño de w-32 */
}

/* Descripción */
.description {
  @apply mt-2 text-sm text-gray-600;
}

/* Botón Ver Más */
.button {
  @apply mt-4 px-6 py-2 bg-orange-500 text-white uppercase font-bold rounded-md transition-all;
}
.button:hover {
  @apply bg-gray-700;
}

  </style>